@import "tailwindcss";

@layer theme {
:root {
    /* Base spacing unit */
    --spacing: 0.25rem;

    /* Brand Colors */
    --color-brown: #8B4513;
    --color-yellow: #fed010;

    /* Primary Colors */
    --color-primary: var(--color-brown);
    --color-primary-light: color-mix(in oklab, var(--color-primary) 80%, white);
    --color-primary-lighter: color-mix(in oklab, var(--color-primary) 40%, white);
    --color-primary-dark: color-mix(in oklab, var(--color-primary) 80%, black);
    --color-primary-darker: color-mix(in oklab, var(--color-primary) 40%, black);

    /* Secondary Colors */
    --color-secondary: var(--color-yellow);
    --color-secondary-light: color-mix(in oklab, var(--color-secondary) 80%, white);
    --color-secondary-lighter: color-mix(in oklab, var(--color-secondary) 40%, white);
    --color-secondary-dark: color-mix(in oklab, var(--color-secondary) 80%, black);
    --color-secondary-darker: color-mix(in oklab, var(--color-secondary) 40%, black);

    /* Text Colors */
    --color-text: #5a2c18;
    --color-text-light: #803d15;
    --color-text-lighter: #cc6544;
  }
}

@layer base {
  body {
    color: var(--color-text);
    background-color: white;
  }
}

@layer components {
  .btn-primary {
    background-color: var(--color-primary);
    color: white;
    transition: background-color 200ms;
  }
  .btn-primary:hover {
    background-color: var(--color-primary-dark);
  }

  .btn-secondary {
    background-color: var(--color-secondary);
    color: var(--color-text);
    transition: background-color 200ms;
  }
  .btn-secondary:hover {
    background-color: var(--color-secondary-dark);
  }
}

/* @layer base {
  body {
    @apply bg-[#fdf5f3] text-[#5a2c18];
}
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
